<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>tpi-proyect</display-name>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>servlets.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Resultados</servlet-name>
    <servlet-class>servlets.ResultadosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resultados</servlet-name>
    <url-pattern>/resultados</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Conexiones</servlet-name>
    <servlet-class>servlets.ConexionesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Conexiones</servlet-name>
    <url-pattern>/conexiones</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
</welcome-file-list>
</web-app>